* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #0a0f2c;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: #00e0ff;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

.menu a:hover {
    color: #00e0ff;
}

/* HERO */
.hero {
    height: 90vh;
    background-image: url("Santiago\ bernabeu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    height: 90vh;
}

.hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
}

.hero-text {
    margin-left: 80px;
    color: white;
    position: relative;
    z-index: 2;
}

.hero-text h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #00e0ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* FEATURED SECTION */
.featured {
    background-color: #111633;
    padding: 60px;
    color: white;
}

.featured h2 {
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    background-color: #1c224d;
    padding: 25px;
    flex: 1;
    border-radius: 10px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
}

.card button {
    padding: 8px 15px;
    background-color: #00e0ff;
    border: none;
    cursor: pointer;
}

.card:hover {
    background-color: #27306d;
}

/* FOOTER */
.footer {
    background-color: #0a0f2c;
    color: white;
    text-align: center;
    padding: 20px;
}